In [41]:
import pandas as pd
import numpy as np

Perfil eleitor

In [42]:
df_perfil_inicio = pd.read_csv("perfil_eleitor_secao_2020_RS.csv",  encoding="latin1", delimiter=";")
df_perfil_inicio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4281617 entries, 0 to 4281616
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   DT_GERACAO                  object
 1   HH_GERACAO                  object
 2   ANO_ELEICAO                 int64
 3   SG_UF                       object
 4   CD_MUNICIPIO                int64
 5   NM_MUNICIPIO                object
 6   CD_MUN_SIT_BIOMETRICA       int64
 7   DS_MUN_SIT_BIOMETRICA       object
 8   NR_ZONA                     int64
 9   NR_SECAO                    int64
 10  NR_LOCAL_VOTACAO            int64
 11  CD_GENERO                   int64
 12  DS_GENERO                   object
 13  CD_ESTADO_CIVIL             int64
 14  DS_ESTADO_CIVIL             object
 15  CD_FAIXA_ETARIA             int64
 16  DS_FAIXA_ETARIA             object
 17  CD_GRAU_ESCOLARIDADE        int64
 18  DS_GRAU_ESCOLARIDADE        object
 19  QT_ELEITORES_PERFIL         int64
 20  QT_ELEITORES_BIOMETRIA      int64
 21  QT_ELEITORES_DEFICIENCIA    int64
 22  QT_ELEITORES_INC_NM_SOCIAL  int64
dtypes: int64(14), object(9)
memory usage: 751.3+ MB

In [43]:
df_perfil_reduzido = df_perfil_inicio[['CD_MUNICIPIO', 'NR_ZONA', 'DS_GRAU_ESCOLARIDADE', 'QT_ELEITORES_PERFIL']]

df_perfil = df_perfil_reduzido.groupby(['CD_MUNICIPIO', 'NR_ZONA', 'DS_GRAU_ESCOLARIDADE']).sum().reset_index()

df_perfil.head()

   CD_MUNICIPIO  NR_ZONA           DS_GRAU_ESCOLARIDADE  QT_ELEITORES_PERFIL
0         84735        3                     ANALFABETO                   28
1         84735        3    ENSINO FUNDAMENTAL COMPLETO                  250
2         84735        3  ENSINO FUNDAMENTAL INCOMPLETO                 1431
3         84735        3          ENSINO MÉDIO COMPLETO                  593
4         84735        3        ENSINO MÉDIO INCOMPLETO                  307

Votação Partido Município Zona

In [44]:
df_votos_inicio = pd.read_csv("votacao_partido_munzona_2020_RS.csv", encoding="latin1", delimiter=";")
df_votos_inicio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5173 entries, 0 to 5172
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   DT_GERACAO                      5173 non-null   object
 1   HH_GERACAO                      5173 non-null   object
 2   ANO_ELEICAO                     5173 non-null   int64
 3   CD_TIPO_ELEICAO                 5173 non-null   int64
 4   NM_TIPO_ELEICAO                 5173 non-null   object
 5   NR_TURNO                        5173 non-null   int64
 6   CD_ELEICAO                      5173 non-null   int64
 7   DS_ELEICAO                      5173 non-null   object
 8   DT_ELEICAO                      5173 non-null   object
 9   TP_ABRANGENCIA_ELEICAO          5173 non-null   object
 10  SG_UF                           5173 non-null   object
 11  SG_UE                           5173 non-null   int64
 12  NM_UE                           5173 non-null   object
 13  CD_MUNICIPIO                    5173 non-null   int64
 14  NM_MUNICIPIO                    5173 non-null   object
 15  NR_ZONA                         5173 non-null   int64
 16  CD_CARGO                        5173 non-null   int64
 17  DS_CARGO                        5173 non-null   object
 18  TP_AGREMIACAO                   5173 non-null   object
 19  NR_PARTIDO                      5173 non-null   int64
 20  SG_PARTIDO                      5173 non-null   object
 21  NM_PARTIDO                      5173 non-null   object
 22  NR_FEDERACAO                    5173 non-null   int64
 23  NM_FEDERACAO                    5173 non-null   object
 24  SG_FEDERACAO                    5173 non-null   object
 25  DS_COMPOSICAO_FEDERACAO         5173 non-null   object
 26  SQ_COLIGACAO                    5173 non-null   int64
 27  NM_COLIGACAO                    5173 non-null   object
 28  DS_COMPOSICAO_COLIGACAO         5173 non-null   object
 29  ST_VOTO_EM_TRANSITO             5173 non-null   object
 30  QT_VOTOS_LEGENDA_VALIDOS        5173 non-null   int64
 31  QT_VOTOS_NOM_CONVR_LEG_VALIDOS  5173 non-null   int64
 32  QT_TOTAL_VOTOS_LEG_VALIDOS      5173 non-null   int64
 33  QT_VOTOS_NOMINAIS_VALIDOS       5173 non-null   int64
 34  QT_VOTOS_LEGENDA_ANUL_SUBJUD    5173 non-null   int64
 35  QT_VOTOS_NOMINAIS_ANUL_SUBJUD   5173 non-null   int64
dtypes: int64(17), object(19)
memory usage: 1.4+ MB

In [45]:
df_votos_primeiro_turno = df_votos_inicio[df_votos_inicio['NR_TURNO'] == 1]

df_votos_reduzido = df_votos_primeiro_turno[['NR_TURNO', 'NM_PARTIDO', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NR_ZONA',
                              'QT_VOTOS_LEGENDA_VALIDOS', 'QT_VOTOS_NOM_CONVR_LEG_VALIDOS', 
                              'QT_TOTAL_VOTOS_LEG_VALIDOS', 'QT_VOTOS_NOMINAIS_VALIDOS']]

df_votos_reduzido['QT_TOTAL_VOTOS'] = (
    df_votos_reduzido['QT_VOTOS_LEGENDA_VALIDOS'] + 
    df_votos_reduzido['QT_VOTOS_NOM_CONVR_LEG_VALIDOS'] +
    df_votos_reduzido['QT_TOTAL_VOTOS_LEG_VALIDOS'] +
    df_votos_reduzido['QT_VOTOS_NOMINAIS_VALIDOS']
)

df_votos = df_votos_reduzido[['NM_PARTIDO', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NR_ZONA', 'QT_TOTAL_VOTOS']]

print(df_votos.head())

                                NM_PARTIDO  CD_MUNICIPIO      NM_MUNICIPIO  \
0         Movimento Democrático Brasileiro         86223             BARÃO
1  Partido da Social Democracia Brasileira         85871           CANGUÇU
2                            PROGRESSISTAS         89591       VERANÓPOLIS
3           Partido Socialismo e Liberdade         86835          GRAVATAÍ
4                            PROGRESSISTAS         85561  SALDANHA MARINHO

   NR_ZONA  QT_TOTAL_VOTOS
0      152             736
1       14            2055
2       88            1733
3      173            1634
4      115            1233

C:\Users\User\AppData\Local\Temp\ipykernel_21492\485758548.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_votos_reduzido['QT_TOTAL_VOTOS'] = (

Juntando datasets

In [46]:
df = pd.merge(df_perfil, df_votos, 
              on=['CD_MUNICIPIO', 'NR_ZONA'], 
              how='inner')

df.head()

,CD_MUNICIPIO,NR_ZONA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,NM_PARTIDO,NM_MUNICIPIO,QT_TOTAL_VOTOS
0,84735,3,ANALFABETO,28,PROGRESSISTAS,ÁUREA,856
1,84735,3,ANALFABETO,28,Partido Liberal,ÁUREA,528
2,84735,3,ANALFABETO,28,REPUBLICANOS,ÁUREA,209
3,84735,3,ANALFABETO,28,Movimento Democrático Brasileiro,ÁUREA,345
4,84735,3,ANALFABETO,28,Partido Trabalhista Brasileiro,ÁUREA,484

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42547 entries, 0 to 42563
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CD_MUNICIPIO          42547 non-null  int64
 1   NR_ZONA               42547 non-null  int64
 2   DS_GRAU_ESCOLARIDADE  42547 non-null  object
 3   QT_ELEITORES_PERFIL   42547 non-null  int64
 4   NM_PARTIDO            42547 non-null  object
 5   NM_MUNICIPIO          42547 non-null  object
 6   QT_TOTAL_VOTOS        42547 non-null  int64
dtypes: int64(4), object(3)
memory usage: 2.6+ MB

Iniciando limpeza

In [47]:
df.isnull().sum()

CD_MUNICIPIO            0
NR_ZONA                 0
DS_GRAU_ESCOLARIDADE    0
QT_ELEITORES_PERFIL     0
NM_PARTIDO              0
NM_MUNICIPIO            0
QT_TOTAL_VOTOS          0
dtype: int64

In [48]:
duplicados = df.duplicated().value_counts()
print(duplicados)

False    42547
True        17
Name: count, dtype: int64

In [52]:
df_duplicated = df[df.duplicated(keep=False)]
df_duplicated.head(10)

Empty DataFrame
Columns: [CD_MUNICIPIO, NR_ZONA, DS_GRAU_ESCOLARIDADE, QT_ELEITORES_PERFIL, NM_PARTIDO, NM_MUNICIPIO, QT_TOTAL_VOTOS]
Index: []

In [ ]:
df.drop_duplicates(inplace=True)

In [54]:
votos_negativos = (df['QT_TOTAL_VOTOS'] < 0).sum()
print(votos_negativos)

0

In [63]:
df.to_csv('dados_eleitores.csv', index=False, encoding='utf-8')

Inicio Analise

In [56]:
contagem_partidos = df['NM_PARTIDO'].nunique()
print(f"Total de partidos: {contagem_partidos}")

Total de partidos: 31

In [58]:
votos_por_partido = df.groupby('NM_PARTIDO')['QT_TOTAL_VOTOS'].sum().reset_index().sort_values(by='QT_TOTAL_VOTOS', ascending=False)
print(votos_por_partido)

                                        NM_PARTIDO  QT_TOTAL_VOTOS
5                                    PROGRESSISTAS        18555589
4                 Movimento Democrático Brasileiro        18330470
8                  Partido Democrático Trabalhista        11696250
24                       Partido dos Trabalhadores         9393931
23         Partido da Social Democracia Brasileira         8931861
19                  Partido Trabalhista Brasileiro         6672320
17                   Partido Socialista Brasileiro         4913104
14                      Partido Social Democrático         3642748
27                                    REPUBLICANOS         3626081
3                                       Democratas         3052208
7                      Partido Comunista do Brasil         2658971
9                                  Partido Liberal         2369951
15                          Partido Social Liberal         1673785
16                  Partido Socialismo e Liberdade         1397289
1                                        Cidadania         1212534
11        Partido Renovador Trabalhista Brasileiro         1102236
10                                    Partido Novo          852109
29                                   Solidariedade          586761
25                                        Patriota          573368
26                                         Podemos          484150
13                          Partido Social Cristão          358742
21                                   Partido Verde          220594
28                           Rede Sustentabilidade          205810
0                                           AVANTE          139286
12             Partido Republicano da Ordem Social           61043
6                     Partido Comunista Brasileiro           19740
18  Partido Socialista dos Trabalhadores Unificado           19485
30                                 Unidade Popular           12141
2                                Democracia Cristã            5382
22                       Partido da Causa Operária            1839
20                     Partido Trabalhista Cristão            1000

In [61]:
contagem_educacao = df.groupby('DS_GRAU_ESCOLARIDADE')['QT_ELEITORES_PERFIL'].sum().reset_index()

print("Contagem de eleitores por grau de escolaridade:")
print(contagem_educacao.sort_values(by='QT_ELEITORES_PERFIL', ascending=False))

Contagem de eleitores por grau de escolaridade:
            DS_GRAU_ESCOLARIDADE  QT_ELEITORES_PERFIL
2  ENSINO FUNDAMENTAL INCOMPLETO             45269260
3          ENSINO MÉDIO COMPLETO             37782836
4        ENSINO MÉDIO INCOMPLETO             28002477
7              SUPERIOR COMPLETO             19791328
1    ENSINO FUNDAMENTAL COMPLETO             16068109
8            SUPERIOR INCOMPLETO             13519396
5                   LÊ E ESCREVE              4755123
0                     ANALFABETO              2814638
6                  NÃO INFORMADO                35765

In [62]:
contagem_cidades = df['NM_MUNICIPIO'].nunique()
print(f"Total de cidades: {contagem_cidades}")

Total de cidades: 497